@use 'variables' as *;

.section {

    &__title {
        font-style: italic;
        font-weight: 600;
        font-size: 34px;
        text-transform: capitalize;
        color: $about-main-color;
        margin-bottom: 30px;
    }

    &__text {
        font-style: italic;
        font-size: 14px;
        color: $about-second-color;
        line-height: 1.7;
    }
}