
$main-color: #3B5D50;

// HEADER--------------------------------------

$logo-color: #fff;
$logo-hover-color: #F9BF29;

// -nav

$nav-color: rgba(255, 255, 255, .5);
$nav-hover-color: #fff;
$nav-hover-border-color: #F9BF29;

// -text

$header-text-color: #fff;

// -links 

$header-link-color: #fff;
$header-link-border-color: rgba(255, 255, 255, .5);
$header-link-hover-color: #2F2F2F;
$header-link-hover-bgc: #F9BF29;
$header-link-hover-border-color: #F9BF29;

//PRODUCTS-----------------------------------------

$products-base-color: #2F2F2F;
$products-second-color: #6A6A6A;
$products-link-color: #fff;
$products-hover-color: #F9BF29;

//ABOUT-------------------------------------------

$about-main-color: #2F2F2F;
$about-second-color: #6A6A6A;