@use '../components/variables' as *;

body {
    background-color: $main-color;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: default;
}

a {
    transition: all ease .3s;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}