@use '../components/variables' as *;

.footer {
    padding-top: 150px;
    padding-bottom: 110px;
    background-color: #fff;

    &__title {
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 1.7px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        font-family: 'Inter' sans-serif;
        font-style: italic;
        font-size: 14px;
        color: #6A6A6A;
        line-height: 1.7;
        margin-bottom: 60px;
    }

    &__box-text {
        max-width: 360px;
    }

    &__box-links {
        display: flex;
        justify-content: space-between;
        width: 550px;
    }
 
    &__box-item:hover {
        color: #F9BF29;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        max-width: 200px;
        padding-bottom: 30px;
    }

    &__nav-img {
        position: relative;
        z-index: 2;
    }

    &__nav-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
    }

    &__nav-link::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: #D9D9D9;
        border-radius: 50%;
        z-index: 1;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding-top: 50px;
        font-size: 13px;
        color: #6A6A6A;
        font-style: italic;
        border-top: 1px solid #EFF2F1;
    }

    &__bottom-items {
        display: flex;
        justify-content: space-between;
        width: 260px;
    }
}