@use '../components/variables' as *;

.intro {
    margin-bottom: 170px;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 55px;
        margin-bottom: 185px;
    }

    &__textbox {
        max-width: 445px;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 25px;
        margin-bottom: 40px;
    }

    &__info-text1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    &__info-text2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    &__info-text3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    &__info-text4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    &__decoration {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
        grid-column-gap: 33px;
        grid-row-gap: 23px;
        position: relative;
    }

    &__decor1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__decor2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    &__decor3 {
        position: absolute;
        top: 36%;
        right: 0;
    }

    &__decor4 {
        position: absolute;
        top: -10%;
        left: -20%;
        z-index: -1;
    }
}