@use '../components/variables' as *;

.products {
    margin-bottom: 220px;
    
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__textbox {
        max-width: 220px;
        display: flex;
        flex-direction: column; 
        gap: 33px; 
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        max-height: 240px;
    }

    &__item {
        text-align: center;
        max-height: 355px;
    }

    &__item-img {
        margin-bottom: 45px;
        height: 100%;
    }

    &__info {
        color: $products-base-color;
        font-style: italic;
    }

    &__info:hover {
        color: $products-hover-color;
        transition: color .3s ease;
    }
 
    &__item-name {
        font-weight: 500;
        text-transform: capitalize;
        line-height: 1.5;
        margin-bottom: 1px;
    }

    &__item-price {
        font-size: 18px;
        font-weight: 700;
    }
}